.App {
  font-family: sans-serif;
  text-align: center;
}

.Fines {
  display: flex;
  flex-wrap: wrap;
}

.FineCard {
  border: 2px solid dodgerblue;
  padding: 12px;
  width: 40%;
  margin: 0 auto 20px;
  box-sizing: border-box;
}

.FineCard.paid {
  border-color: gray;
  color: gray;
}

.FineCard.selected {
  background: dodgerblue;
  color: white;
}

.FineCard.selected.paid {
  background: gray;
}

.FineCard h5 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1ch;
  margin: 0px;
}

.MoveBox {
  display: flex;
  border: 1px solid;
  border-radius: 4px;
  overflow: hidden;
  margin: 0px 0px 30px;
}

.MoveBoxPanel {
  width: 40%;
}

.Filters {
  margin: 40px;
}

.MoveBoxPanelItem {
  padding: 6px 12px;
  border-bottom: 1px solid;
}

.MoveBoxPanelItem.selected {
  background: dodgerblue;
  color: white;
}

.MoveBoxTrack {
  background: silver;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
